@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap');
@import './tailwind.css';

body {
  font-family: 'Spline Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #111416;
}

* {
  box-sizing: border-box;
}